

{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <a href="javascript:history.back()">Go Back</a>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backery Kitchen</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 50px;
        }
        .nav-tabs .nav-link {
            color: #28a745; /* Default color */
        }
        .nav-tabs .nav-link.active {
            color: #495057; /* Active tab color */
        }
        .nav-tabs .nav-link:hover {
            color: #0056b3; /* Hover color */
        }
    </style>
</head>
 <div class="container" style="margin-bottom: 20px;">
        <h1 class="text-center">Backery Kitchen</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Fridge Temperature Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Freezer Temperature Logs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Food Cooking Temperature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab4-tab" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">Food Cooling Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab5-tab" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">Food Reheating Records </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab6-tab" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false">Sanitization Records</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="textbox1">Name</label>
            <input type="text" id="textbox1" name="textbox1">
        </div>
        <div>
            <label for="textbox2">Temp(°C)</label>
            <input type="text" id="textbox2" name="textbox2">
        </div>
        <div>
            <label for="textbox3">Corrective Action</label>
            <input type="text" id="textbox3" name="textbox3">
        </div>
        <button class="btn btn-success btn-block" type="submit">Save</button>
    </form>

            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                 <form method="post">
        {% csrf_token %}
        <div>
            <label for="textbox1">Name</label>
            <input type="text" id="textbox1" name="textbox1">
        </div>
        <div>
            <label for="textbox2">Temp(°C)</label>
            <input type="text" id="textbox2" name="textbox2">
        </div>
        <div>
            <label for="textbox3">Corrective Action</label>
            <input type="text" id="textbox3" name="textbox3">
        </div>
        <button class="btn btn-success btn-block" type="submit">Save</button>
    </form>

            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                <form method="post">
        {% csrf_token %}
        <div>
            <label for="textbox1">Name</label>
            <input type="text" id="textbox1" name="textbox1">
        </div>
        <div>
            <label for="textbox2">Temp(°C)</label>
            <input type="text" id="textbox2" name="textbox2">
        </div>
        <div>
            <label for="textbox3">Corrective Action</label>
            <input type="text" id="textbox3" name="textbox3">
        </div>
        <button class="btn btn-success btn-block" type="submit">Save</button>
    </form>

            </div>
            <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                 <form method="post">
        {% csrf_token %}
        <div>
            <label for="textbox1">Name</label>
            <input type="text" id="textbox1" name="textbox1">
        </div>
        <div>
            <label for="textbox2">Temp(°C)</label>
            <input type="text" id="textbox2" name="textbox2">
        </div>
        <div>
            <label for="textbox3">Corrective Action</label>
            <input type="text" id="textbox3" name="textbox3">
        </div>
        <button class="btn btn-success btn-block" type="submit">Save</button>
    </form>

            </div>
            <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5-tab">
                 <form method="post">
        {% csrf_token %}
        <div>
            <label for="textbox1">Name</label>
            <input type="text" id="textbox1" name="textbox1">
        </div>
        <div>
            <label for="textbox2">Temp(°C)</label>
            <input type="text" id="textbox2" name="textbox2">
        </div>
        <div>
            <label for="textbox3">Corrective Action</label>
            <input type="text" id="textbox3" name="textbox3">
        </div>
        <button class="btn btn-success btn-block" type="submit">Save</button>
    </form>

            </div>
            <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab6-tab">
                <form method="post">
        {% csrf_token %}
        <div>
            <label for="textbox1">Name</label>
            <input type="text" id="textbox1" name="textbox1">
        </div>
        <div>
            <label for="textbox2">Temp(°C)</label>
            <input type="text" id="textbox2" name="textbox2">
        </div>
        <div>
            <label for="textbox3">Corrective Action</label>
            <input type="text" id="textbox3" name="textbox3">
        </div>
        <button class="btn btn-success btn-block" type="submit">Save</button>
    </form>

            </div>
        </div>
    </div>
<div class="col-md-4 text-center" >
            <a href="{% url 'logout' %}" class="btn btn-danger btn-block" >Logout</a>
            </div>
{% endblock %}
