{% extends "dashboard/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<a href="javascript:history.back()"> Back</a>

<div class="text-center" style="margin-bottom: 20px;">
    <h1 style="font-family:Monospace">{{name}}</h1>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <a href="{% url 'storage_location' name 'Fridge' %}" class="btn btn-outline-info btn-block" style="font-family:Monospace">Fridge</a>
            <a href="{% url 'storage_location' name 'Freezer' %}" class="btn btn-outline-info btn-block" style="font-family:Monospace">Freezer</a>
            <a href="{% url 'storage_location' name 'Cooking' %}" class="btn btn-outline-info btn-block" style="font-family:Monospace">Cooking</a>
            <a href="{% url 'storage_location' name 'Cooling' %}" class="btn btn-outline-info btn-block" style="font-family:Monospace">Cooling</a>
            <a href="{% url 'storage_location' name 'Reheating' %}" class="btn btn-outline-info btn-block" style="font-family:Monospace">Reheating</a>
            <a href="{% url 'storage_location' name 'Sanitazation' %}" class="btn btn-outline-info btn-block" style="font-family:Monospace">Sanitazation</a>
        </div>
    </div>
</div>
{% endblock %}

