body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.logout-button {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    display: flex;
    height: 100vh;
}

.logo img {
    width: 150px; /* Adjust this value to reduce the size */
    height: auto;
    margin-bottom: 20px;
}

.sidebar {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        box-shadow: none;
    }
}

/* Sidenav basic styles */
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    transition: 0.3s;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #575757;
    color: white;
}

/* Dropdown container hidden by default */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 20px;
}

.dropdown-container a {
    font-size: 16px;
    padding: 8px 15px;
    color: white;
}

/* Add an arrow next to the dropdown button */
.dropdown-btn {
    cursor: pointer;
}
